<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Diplom Web</title>
</head>
<body>
    <h1>Заглушка от Христофорова Константина для Дипломной работы.</h1>
    <p>Server: {{ ansible_facts["hostname"] }}</p>
    <p>FQDN: {{ ansible_facts["fqdn"] }}</p>
</body>
</html>
